*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bdc3c7;
    font-family: sans-serif;
}

.inputField{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Enterbutton{
    cursor: pointer;
    border: solid tomato;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    width: 15vh;
    font-size: 1.25rem;
    height: 4vh;
}
.Enterbutton:hover{
    background-color: #ff8818;
}
.input{
    padding-left: 10px;
    font-weight: bold;
    font-size: .8rem;
    border: solid tomato;
    border-radius: 15px;
    width: 50vh;
    height: 5vh;
}
#subjectSection{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.subjects{
    margin-top: 20px;
    display: flex;
    gap: 40%;
    width: 100%;
    flex-wrap: wrap;
}
#gpacalculated{
    color: tomato;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    font-size: 1.75rem;
}
.subjectsdiv{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.gradesinput{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 15px;
}
main .Enterbutton{
    text-align: center;
    width: 20vh;
    height: 5vh;
    margin: 20px auto;
}
.input:focus{
    outline: none;
}